<section id="products-view" class="view">
    <section data-bind="with:products">
        <section class="view-list" data-bind="template: {name: 'productsList.view', foreach: products}"></section>
    </section>
</section>
