@{
    ViewBag.Title = "TourOverview";
}

<h2>TourOverview</h2>

<section class="tour-overview booking-step" role="main">
    <header class="step-header">
        <h1><span>Step 1 of 3 </span>Tour overview</h1>
    </header>

    <div class="tour-options">
        <h2>Select tour options</h2>
        <fieldset>
            <div class="tour-summary group">
                <p>You are booking</p>
                <h3>European Discovery <span class="tour-duration">12 Days</span></h3>
                <ul class="tour-dates">
                    <li class="tour-start-date"><b>Starts London: </b><time datetime="2013-06-11">Tue, 11 June 2013</time></li>
                    <li class="tour-end-date"><b>Ends London: </b><time datetime="2013-06-23">Mon, 23 June 2013</time></li>
                </ul>
                <p class="tour-map">Map</p>
            </div>
            
            <fieldset class="passengers">
                <h3>How many people are you booking for?</h3>
                <div class="counter group adult-passengers">
                    <label for="total-adult-passengers">Adults</label>
                    <div>
                        <button class="minus" type="button">Minus</button>
                        <input class="counter-total" name="total-adult-passengers" type="text" value="1" />
                        <button class="plus" type="button">Plus</button>
                    </div>
                </div>
                <div class="counter group child-passengers">
                    <label for="total-child-passengers">Children</label>
                    <div>
                        <button class="minus" type="button">Minus</button>
                        <input class="counter-total" name="total-child-passengers" type="text" value="0" />
                        <button class="plus" type="button">Plus</button>
                    </div>
                </div>
            </fieldset>
            
            <div class="accommodation"> 
                <h3>Select your accommodation preferences</h3>
                <fieldset class="passenger-1 selection-matrix">
                    <div>
                        <h3>Passenger 1<b class="required">*</b></h3>
                    </div>
                    <div class="room-type">
                        <input class="room-type-single" name="room-p1" type="radio" value="single"/>
                        <label for="room-type-single">
                            Single
                            <span class="room-price-adjustment"><b>Add US$ 615</b></span>
                        </label>
                    </div>
                    <div class="room-type active">
                        <input class="room-type-twin" name="room-p1" type="radio" value="twin share" checked />
                        <label for="room-type-twin">
                            Twin share
                        </label>
                    </div>
                    <div class="room-type">
                        <input class="room-type-triple" name="room-p1" type="radio" value="triple share"/>
                        <label for="room-type-triple">
                            Triple-share
                            <span class="room-price-adjustment"><b>Subtract US$ 111</b></span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
    
    <div class="additional-nights">
        <h2>Do you need a hotel before or after</h2>
        <fieldset>
            <fieldset class="selection-matrix">
                <div>
                    <h3>Hotel before your tour<b class="required">*</b></h3>
                    <p>Prices are per person per night based on sharing a twin room.</p>
        		</div>
                <div class="active">
                    <input class="imperial-hotel-london" name="hotel-before" type="radio" value="Imperial Hotel London" checked />
                    <label for="imperial-hotel-london">
                        Royal National Hotel London
                        <span><b>US$ 99 </b>/ night</span>
                    </label>
                    <label class="hidden" for="nights">Nights</label>
                    <select name="nights">
                        <option value="1" selected>1 night</option>
                        <option value="2">2 nights</option>
                        <option value="3">3 nights</option>
                    </select>
                </div>
                <div>
                    <input class="royal-national-hotel-london" name="hotel-before" type="radio" value="Royal National Hotel London"/>
                    <label for="royal-national-hotel-london">
                        Royal National Hotel London
                        <span><b>US$ 79 </b>/ night</span>
                    </label>
                </div>
                <div>
                    <input class="no-thanks" name="hotel-before" type="radio" value="No thanks"/>
                    <label for="no-thanks">No thanks</label>
                </div>
            </fieldset>
            <fieldset class="selection-matrix">
                <div>
                    <h3>Hotel after your tour<b class="required">*</b></h3>
                    <p>Prices are per person per night based on sharing a twin room.</p>
        		</div>

                <div>
                    <input class="imperial-hotel-london" name="hotel-after" type="radio" value="Imperial Hotel London"/>
                    <label for="imperial-hotel-london">
                        Royal National Hotel London
                        <span><b>US$ 99 </b>/ night</span>
                    </label>
                </div>
                <div class="active">
                    <input class="royal-national-hotel-london" name="hotel-after" type="radio" value="Royal National Hotel London" checked />
                    <label for="royal-national-hotel-london">
                        Royal National Hotel London
                        <span><b>US$ 79 </b>/ night</span>
                    </label>
                    <label class="hidden" for="nights">Nights</label>
                    <select name="nights">
                        <option value="1" selected>1 night</option>
                        <option value="2">2 nights</option>
                        <option value="3">3 nights</option>
                    </select>
                </div>
                <div>
                    <input class="no-thanks" name="hotel-after" type="radio" value="No thanks"/>
                    <label for="no-thanks">No thanks</label>
                </div>
            </fieldset>
        </fieldset>
    </div>
    
    <div class="travel-protection">
        <h2>Travel Protection</h2>
        <fieldset>
        <p>Add <a href="#">Travel Protection</a>.</p>
            <fieldset class="selection-matrix">
                <div>
                    <h3>Travel Protection for Passenger 1<b class="required">*</b></h3>
                </div>
                <div>
                    <input class="yes-please" name="travel-protection-p1" type="radio" value="Buy Travel Protection" />
                    <label for="yes-please">
                    	Travel Protection
                        <span><b>US$ 169.00</b></span>
                    </label>
                </div>
                <div>
                    <input class="no-thanks" name="travel-protection-p1" type="radio" value="No Travel Protection" />
                    <label for="no-thanks">No Travel Protection</label>
                </div>
            </fieldset>
        </fieldset>
    </div>
    
    <div class="additional-tour">
        <h2>Request and additional tour</h2>
        <fieldset>
            <p>Want to book an additional tour? Add it here and we will contact you.</p>
            <label class="hidden" for="additional-tour-name">Tour name</label>
            <input name="additional-tour-name" type="text" placeholder="Tour name" />
            <label for="additional-tour-date">Tour departure date</label>
            <input name="additional-tour-date" placeholder="Departure date" type="date" />
        </fieldset>
    </div>
    
    <div class="flights">
        <h2>Need flights?</h2>
        <fieldset>
            <label class="hidden" for="flight-departure-city">Departure city, <span>e.g. New York</span></label>
            <input name="flight-departure-city" type="text" placeholder="Departure city, e.g. New York" />
            
            <fieldset class="flight-times multi-part-question">
            	<div>
            		<h3>Departure</h3>
                </div>
                <div>
                    <label for="flight-departure-date" class="hidden">Departure date</label>
                    <input name="flight-departure-date" placeholder="Departure date" type="date" />
                </div>
                <div>
                    <label for="flight-departure-time" class="hidden">Departure time</label>
                    <select name="flight-departure-time">
                        <option value="Any time" selected>Any time</option>
                        <option value="06:00">06:00</option>
                        <option value="12:00">12:00</option>
                        <option value="18:00">18:00</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="flight-times multi-part-question">
            	<div>
	            	<h3>Return</h3>
                </div>
                <div>
                    <label for="flight-return-date" class="hidden">Return date</label>
                    <input name="flight-return-date" placeholder="Return date" type="date" />
                </div>
                <div>
                    <label for="flight-return-time" class="hidden">Return time</label>
                    <select name="flight-return-time">
                        <option value="Any time" selected>Any time</option>
                        <option value="06:00">06:00</option>
                        <option value="12:00">12:00</option>
                        <option value="18:00">18:00</option>
                    </select>
                </div>
            </fieldset>
            <div class="airlines">
                <fieldset class="selection-matrix">
                    <div>
                        <h3>Preference</h3>
                    </div>
                    <div>
                        <label for="airline-class">Class</label>
                        <select name="airline-class">
                            <option value="economy" selected>Economy</option>
                            <option value="premium economy">Premium Economy</option>
                            <option value="business">Business</option>
                            <option value="first">First</option>
                        </select>
                    </div>
                    <div>
                        <label for="airline-name">Airline</label>
                        <select name="airline-name">
                            <option value="No preference" selected>No preference</option>
                            <option value="Air Canada">Air Canada</option>
                            <option value="American Airlines">American Airlines</option>
                            <option value="British Airways">British Airways</option>
                        </select>
                    </div>
				</fieldset>
                <div class="add-airline">
                    <h3>Add another airline</h3>
                    <p>If your preferred airline is unavailable we will search this one.</p>
                    <button name="add-airline" type="button">Add airline</button>
                </div>
            </div>
            <button name="search-flights" type="button">Search for flights</button>
            <p class="flights-terms"><a href="#">Terms and conditions apply.</a></p>
        </fieldset>
    </div>
	<div class="next-button group">
    	<button name="next" type="button">Next</button>
    </div>
</section>



<aside class="notes" role="complementary">
	<h2 class="hidden">Notes</h2>
	<h3>Important</h3>
    <p>Payment will be required to confirm your booking.</p>
    <p>Day 1 is the depart USA date. Day 2 is the first included hotel night in London. The tour ends in Paris with a complimentary transfer to the airport at approximately 10:00am</p>
</aside>

<footer role="contentinfo">
	<ul>
    	<li><a href="#">Conditions of Booking</a></li>
        <li><a href="#">Useful links</a></li>
    </ul>
    <small>&copy; Copyright TTC Travel Group Ltd. 2013. All rights reserved.</small>
</footer>