<aside class="price-breakdown" role="complementary">
	<h2 class="hidden">Price breakdown</h2>
    <div class="price-tour-options group">
    	<h3>Your tour</h3>
        <h4>European Discovery <span class="tour-duration">12 Days</span></h4>
        <ul class="tour-dates group">
        	<li class="tour-start-date"><b>Starts London:</b><time datetime="2013-06-11">Tue, 11 June 2013</time></li>
            <li class="tour-end-date"><b>Ends London:</b><time datetime="2013-06-23">Mon, 23 June 2013</time></li>
        </ul>
        <ul class="price-per-passenger passenger-1 group">
        	<li class="passenger">Passenger 1</li> 
            <li class="room-type">Single</li>
            <li class="price-group"> 
                <span class="currency">US$</span> 
                <span class="price">2,847.00</span>
            </li>
        </ul>
    </div>
    <div class="price-additional-nights group">
    	<h3>Hotel, pre &amp; post tour</h3>
        <ul class="hotels-booked pre group">
        	<li class="hotel">Imperial London Hotel</li> 
            <li class="nights">(Pre, 1 night)</li>
            <li class="price-group">
                <span class="passenger-multiplier">2x</span>
                <span class="currency">US$</span> 
                <span class="price">99.00</span>
            </li>
        </ul>
        <ul class="hotels-booked post group">
            <li class="hotel">Royal National Hotel London</li> 
            <li class="nights">(Post, 2 nights)</li>
            <li class="price-group">
                <span class="passenger-multiplier">2x</span>
                <span class="currency">US$</span> 
                <span class="price">158.00</span>
            </li>
        </ul>
    </div>
    <div class="price-travel-protection group">
    	<h3>Travel protection</h3>
        <ul class="price-per-passenger passenger-1 group">
        	<li class="passenger">Passenger 1</li>
            <li class="price-group"> 
                <span class="currency">US$</span> 
                <span class="price">169.00</span>
            </li>
        </ul>
    </div>
    <div class="price-additional-tour group">
    	<h3>Additional tour</h3>
        <p>No tour selected</p>
    </div>
    <div class="price-flights group">
    	<h3>Flights</h3>
        <p>No tour selected</p>
    </div>
    <div class="savings group">
    	<h3>Savings</h3>
        <ul class="applied-discounts group">
        	<li>
            	<span class="discount-name">Early payment discount</span> 
            	<span class="currency">US$</span> 
                <span class="price">-151.00</span>
            </li>
        </ul>
        <fieldset>
        	<label class="hidden" for="promo-code">Promo code</label>
            <input name="promo-code" type="text" placeholder="Use promo code" />
            <button name="apply-promo-code" type="button">Apply</button>
        </fieldset>
    </div>
    <div class="costs group">
    	<p class="total-price">
        	<span>Total price:</span>
        	<span class="currency">US$</span> 
            <span class="price">5,780.00</span>
        </p>
        <p class="deposit">
        	<span>Deposit amount:</span>
        	<span class="currency">US$</span> 
            <span class="price">400.00</span>
        </p>
    </div>
    <div class="quote group">
    	<fieldset>
        	<label class="hidden" for="quote-email-address">Email me this quote</label>
            <input name="quote-email-address" type="email" placeholder="Email me this quote" />
            <button name="send-the-quote" type="button">Send</button>
        </fieldset>
    </div>
    <div class="next-button group">
    	<button name="next" type="button">Next</button>
    </div>
</aside>